
@using NS_Manager_Resource
@using NS_Game_Engine

@using Blazora.Components
@inherits Game_Component





<div style="display: inline-block;">
    <Butticon picture_filename="@($"mine_{this.resource_name}.png")" />
</div>


<div style="display: inline-block;">
    <Butticon picture_filename="pickaxe.png" action="@(() => increment(this.resource_name))" />
</div>

<div>
    <Chest picture_filename="@($"{this.resource_name}.png")" val="@MR(this.resource_name).quantity"/>
</div>

<div>
    @(this.resource_name): @MR(this.resource_name).quantity
</div>






@code {

    [Parameter] public string resource_name { get; set; }
    [Parameter] public string hand_recipe_text { get; set; }


    public static Resource_Stack MR(string resource_name)
    {
        return Game_Engine.self.manager_resource.from_resource_name_get_resource_stack (resource_name);
    }

    public void increment (string resource_name)
    {
        MR (resource_name).increment ();

    }



    protected override void OnInitialized ()
    {
        base.OnInitialized ();

    }



    public override void listener_setup ()
    {
        base.listener_setup ();
        listener_add (() => MR(this.resource_name).quantity);
    }







}
